
body {
  font-family: "Lato";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}
img {
  max-width: 100%;
  height: auto;
}
.wraper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 25px;
}
.wraper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 25px;
}
.section-title {
  color: #102746;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}
.section-title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #006dfe;
}
/* header styles starts */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: 0.2s linear;
  padding-bottom: 20px;
}
.header-active {
  background: #0e1d2881;
}
.logo-position {
  position: absolute;
  z-index: 99;
  top: 64px;
  left: 72px;
}
.header-wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 26px;
}
.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 81px;
  /* background-color: #273b3aa8; */
}
.header-link {
  color: #fff;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  /* background-color: #273b3a; */
}
.btn,
.btnlogin-popup {
  width: 100%;
  height: 45px;
  background: #162938;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
  font-size: 22px;
  opacity: 0.75;
  color: blanchedalmond;
}
.header_burger {
  width: 45px;
  height: 31px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  display: none;
}
.burger-line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}
.burger .burger-line-first {
  transform: rotate(135deg) translate(8px, -4px);
}
.burger .burger-line-second {
  display: none;
}
.burger .burger-line-third {
  transform: rotate(45deg) translate(-6px, -3px);
}

/* header styles end */

/* intro section start */
.intro {
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgb(59 58 65 / 62%),
      rgb(0 0 6 / 41%)
    ),
    url(../images/intro-bg-1.jpg);
  background-size: cover;
  padding-top: 256px;
  padding-bottom: 223px;
}
/* login styles start */
.login-home {
  height: 150vh;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgb(59 58 65 / 62%),
      rgb(0 0 6 / 41%)
    ),
    url(../images/intro-bg-1.jpg);
    background-size: cover;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}
.hide {
  display: none;
}
.sign-wrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease height 0.2s ease;
}
.sign-wrapper.active-popup {
  transform: scale(1);
  margin-top: 100px;
}
.sign-wrapper.active {
  height: 670px;
}
.form-box {
  width: 100%;
  padding: 40px;
}
.sign-wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
.sign-wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
.sign-wrapper .form-box.register {
  position: absolute;
  /* transition: none; */
  transform: translateX(400px);
}
.sign-wrapper.active .form-box.register {
  transition: transorm 0.18s ease;
  transform: translateX(0);
}

.sign-wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
.form-box-title {
  font-size: 2em;
  -moz-columns: #162938;
       columns: #162938;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 58px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}
.input-box-label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162938;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box-input:focus ~ label,
.input-box-input:valid ~ label {
  top: -5px;
}

.input-box-input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #162938;
  line-height: 57px;
}
.remember-forgot {
  position: relative;
  font-size: 0.9em;
  color: #162938;
  font-weight: 500;
  margin: -15px 0 35px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot-input {
  accent-color: #162938;
  margin-right: 3px;
}
.forgot {
  color: #162938;
}
.forgot:hover {
  text-decoration: underline;
}
.login-register {
  font-size: 0.9em;
  color: #162938;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register-content,
.register-link,
.login-link {
  color: #162938;
  font-weight: 600;
}
.register-link:hover,
.login-link:hover {
  text-decoration: underline;
}
.error-message {
  position: absolute;
  top: 30px;
  margin: -4px 0 35px;
  font-size: 1em;
  color: red;
  font-weight: 500;
  pointer-events: none;
}

/* login styles end */
.intro-title {
  max-width: 619px;
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 22px;
}
.intro-subtitle {
  max-width: 546px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form-info {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 133px;
}
.search-form-field {
  width: 297px;
  background: transparent url(../images/icons/Oval.svg) no-repeat left top 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-field::-webkit-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-field::-moz-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-field:-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-field::-ms-input-placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-field::placeholder {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}
.search-form-submit {
  padding: 15px 39px;
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  background: #1b7dff3d;
  border: 0;
  border-radius: 12px;
}
.search-form-submit:hover,
.search-form-submit:focus,
.search-form-submit:active {
  background: #185ab2d1;
}
/* intro section end */

/* benefit styles start */

.benefits {
  margin-bottom: 101px;
}
.benefits-wrap {
  max-width: 1262px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  position: relative;
}
.benefits-title {
  width: 100%;
  color: #102746;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 93px 100px 88px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  transform: translateY(-100%);
}

.benefits-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 0px;
}
.benefit-card {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  grid-column: span 1;
}
.benefit-card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}
.benefit-card-icon {
  display: block;
}
.benefit-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 41px;

  color: #6e7bec;
}
/* benefit-card-title border animation start */

.benefit-card-title-animation-box {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 26px;
}
.border-top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #b27ae9, #3fa5fc);
  -webkit-animation: animate-border-top 7s linear infinite;
          animation: animate-border-top 7s linear infinite;
}
@-webkit-keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes animate-border-top {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* move  */
.car-image {
  width: 100%;
  height: 80px;
  -webkit-animation: carmove 10s infinite linear;
          animation: carmove 10s infinite linear;
}

@-webkit-keyframes carmove {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes carmove {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* benefit-card-title border animation end*/

.benefit-card-descr {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}
.benefit-card-title:hover,
.benefit-card-title:focus {
  color: #1a2379;
}

/* benefit styles end */

/*  places styles start */

.places {
  margin-bottom: 131px;
}
.places-caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places-title {
  margin-right: 15px;
}
.places-view-all {
  font-size: 16px;
  color: #006dfe;
  padding: 0 59px;
  background: url(../images/icons/arrow.svg) no-repeat right center;
}
.places-view-all:hover,
.places-view-all:focus {
  opacity: 0.65;
}
.places-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.places-card {
  position: relative;
  overflow: hidden;
  fill: #d8d8d8;
}
.places-card:hover .places-card-pic {
  transform: scale(1.05);
}
.places-card::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places-card-size-large {
  grid-column: span 3;
}
.places-card-pic {
  width: 100%;
  transition: 0.15s all;
}
.places-card-pic-size-large {
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.places-card-pic-size-small {
  height: 283px;
  -o-object-fit: cover;
     object-fit: cover;
}
.places-card-size-small {
  grid-column: span 2;
}
.places-card-title {
  font-size: 50px;
  line-height: 60px;
  color: #fff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}
.places-card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*  places styles start */

/* tours styles start  */
.tours {
  margin-bottom: 139px;
}
.tours_tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour_info {
  padding-left: 47px;
}
.tour_title {
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour-desc {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 58px;
}
.tour_more {
  font-size: 16px;
  color: #006dfe;
  padding-right: 59px;
  background: url(../images/icons/Shape-arow.svg) no-repeat right center;
}

.tour_more:hover,
.tour_more:focus,
.tour_more:active {
  opacity: 0.65;
}

/* tours styles  end  */

/* top places styles start */
.top {
  margin-bottom: 86px;
}
.top-title {
  margin-bottom: 54px;
}
.top-cards {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}
.top-card {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
}
.top-card-pic {
  position: relative;
  margin-bottom: 45px;
  /* height: 350px; */
}

.top-card-thumb {
  vertical-align: middle;
}
.top-card-status {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 386px;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}
.top-card-title {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto 0 0;
}
.top-card-likes {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding-right: 20px;
  background: url(../images/icons/top-heart.svg) no-repeat right;
  margin-right: 14px;
}

.top-card-comments {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  padding-right: 23px;
  background: url(../images/icons/top-shape.svg) no-repeat right;
}
.top-card-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 31px;
}
.top-card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border-radius: 12px;
  margin: auto 0 0 0;
}
.top-card-more:hover,
.top-card-more:focus,
.top-card-more:active {
  background: #1760be9f;
}

/* top places styles  */
/* users style start  */
.user-wraper{
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.user-title{
  margin-bottom: 26px;
}
#user-list{
  justify-content: space-evenly;
}
.users-cards{
  width: 80%;
  margin: o auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.user-title{
  font-size: 20px;
  color: black;
}
.image-user{
  -o-object-fit: cover;
  object-fit: cover;
}

.user-btn-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}
.users-load-button{
  background: linear-gradient(to bottom,#f8fafb, #525fc1, #ffffff);
  width: 84px;
min-height: 182px;
}
.users-load-button:hover,
.users-load-button:focus,
.users-load-button:active {
  background: #1760be9f;
}


/* users style end */

/* videos styles start */

.videos {
  width: 100%;
}
.videos-wraper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.video-item {
  padding-top: 56.25%;
  /* 9/16*100 youtubis videos simagleshi gasazrdelad  */
}
.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* videos styles end */

/* footer styles start  */
.footer {
  background-color: #0e1d28;
  padding: 119px 0;
}
.footer-item {
  display: flex;
  flex-wrap: wrap;
}
.footer-logo {
  width: 50%;
}
.footer-nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-menu-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  padding-bottom: 10px;
}
.footer-menu-link {
  color: #fff;
  font-size: 16px;
  line-height: 23px;
}
.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-menu-link:active {
  opacity: 0.75;
}

/* footer styles end  */
/* scrol-on-top style start */
.scrol-on-top {
  background: #333;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #175fbefb;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  /* z-index: 199; */
}
.scrol-on-top.active-scroll {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* scrol-on-top style end */
 /* fiter method */


 #result{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
 }
 .search-result{
  color: white;
  font-size: 1.2em;
 }
.search-result.hide{
  display: none;
}